- domain ||= nil
!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %title&= domain ? "#{domain} - whois" : 'whois'
    %meta{name: :viewport, content: 'initial-scale=1.0, width=device-width, user-scalable=yes'}
  %body
    %h1<
      %a{href: '/'} whois
    %form{onsubmit: 'location.pathname=this.domain.value; return!1'}
      %input{name: :domain, placeholder: 'Domain name', value: domain}
      %input{type: :submit}
    #content= yield
